<header>
</header>

<%= render 'flash' %>

<h1>
  <%= link_to "Bookshop", books_path %>
</h1>

<h2>Books</h2>
<%= link_to "Back", root_path %>
<%= link_to "New book", new_book_path %>

<%= render partial:"book", collection: @books, as: :book %>
 <%# %> 